html {
    height: 100%;
    font-size: 11px;
    background: -webkit-linear-gradient(#87EFFF, #4A7C83);
    background-size: auto;
    background-repeat: no-repeat;
}
body, html {
    padding: 5% 10%;
    justify-content: center;
    vertical-align: auto;
}
textarea {
    resize: none;
    outline: none;
    user-select: none;
    border: .1rem solid white;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    word-wrap: break-word;
}
input:focus {
    outline: none;
}
div {
    display: inline-block;
}
.keys{
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 1000px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.row1, .row2, .row3, .row4,.space, .text{
    justify-content:center;
    clear:right;
    display:flex;
}
.key {
    border: .1rem solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    float: initial;
    justify-content: center;
}
.key:not(#backspace):not(#space) {
    width: 5rem;
}
#backspace {
    width: 12em;
}
#space {
    width: 27.5%;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 3rem;
    font-family: 'Franklin Gothic Book';
}